<mat-card class="box" [formGroup]="form" *ngIf="form">
  <mat-form-field appearance="fill">
    <mat-label>Почта</mat-label>
    <input matInput placeholder="Введите почту" formControlName="email" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Пароль</mat-label>
    <input matInput placeholder="Введите пароль" formControlName="password" />
  </mat-form-field>
  <mat-card-actions>
    <button mat-button (click)="login()">Войти</button>
    <button mat-button (click)="registration()">Регистрация</button>
  </mat-card-actions>
</mat-card>
