<div ngProjectAs="header" class="header-row">
  <app-user></app-user>
</div>

<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer #drawer mode="side" position="start">
    <app-side-menu></app-side-menu>
  </mat-drawer>

  <div>
    <button type="button" mat-button (click)="drawer.toggle()">
      @if(drawer.opened){
      <mat-icon
        class="icon"
        fontIcon="arrow_back_ios_new"
        aria-hidden="false"
      ></mat-icon>
      } @else {
      <mat-icon
        class="icon"
        fontIcon="arrow_forward_ios"
        aria-hidden="false"
      ></mat-icon>
      }
    </button>
  </div>
</mat-drawer-container>
