@use "@angular/material" as mat;
@use "@angular/material-experimental" as matx;

$m3-primary-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
    ),
  )
);

html {
  height: 100%;
  @include mat.all-component-themes($m3-primary-theme);
  --mat-sidenav-container-width: 200px;

  body {
    margin: 0;
    padding: 0;
  }

  .snack-success {
    --mdc-snackbar-container-color: #d7e3ff;
    --mat-snack-bar-button-color: black;
    --mdc-snackbar-supporting-text-color: black;
  }

  .snack-error {
    --mdc-snackbar-container-color: #ba1a1a;
    --mat-snack-bar-button-color: #d7e3ff;
    --mdc-snackbar-supporting-text-color: #d7e3ff;
  }

  router-outlet {
    display: none;
  }
}
