<div class="card" [formGroup]="form">
  <div class="title">
    @if (editMode) {
    <input matInput formControlName="name" />
    } @else {
    <span>Имя</span>
    }
  </div>
  <div class="subtitle">
    @if (editMode) {
    <input matInput formControlName="role" />
    } @else {
    <span>Роль</span>
    }
  </div>
  <div class="additional_info">
    @if (editMode) {
    <input matInput formControlName="birthdate" />
    } @else {
    <span>Дата рождения</span>
    }
  </div>
  <img class="avatar" mat-card-sm-image src="assets/avatar-default.svg" />
  <button mat-icon-button class="edit_button" (click)="editToggle()">
    @if (editMode) {
    <mat-icon fontIcon="check"></mat-icon>
    } @else {
    <mat-icon fontIcon="edit"></mat-icon>
    }
  </button>

  <button mat-icon-button class="exit_button" (click)="logout()">
    <mat-icon fontIcon="exit_to_app"></mat-icon>
  </button>
</div>
